{{- $section2 := .Site.Params.section2 }}
{{- $title    := index $section2 "title" }}
{{- $subtitle := index $section2 "subtitle" }}
{{- $photos := index $section2 "photos" }}

<section class="section is-medium" id="photos">
  <div class="container">
      <div class="landing-caption">
        <h1 class="title is-bold section-title">{{ $title }}</h1>
        <h3 class="subtitle is-5">{{ $subtitle }}</h3>
      </div>
      <div class="content-wrapper fancybox">
        {{- range $photos }}
        <div class="columns is-centered ">
          <div class="column is-2">
            <a data-fancybox='gallery' href="{{ printf "images/album/%sa.webp" (string .img) | relURL }}">
              <img src="{{ printf "images/album/%sa.webp" (string .img) | relURL }}" alt="{{ .label }}"/>
            </a>
          </div>
          <div class="column is-2">
            <a data-fancybox='gallery' href="{{ printf "images/album/%sb.webp" (string .img) | relURL }}">
              <img src="{{ printf "images/album/%sb.webp" (string .img) | relURL }}" alt="{{ .label }}"/>
            </a>
          </div>
        </div>
        {{- end }}
      </div>
    </div>
  </div>
</section>